<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Thông tin đặt phòng
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Thời hạn ngày hủy phòng</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="cancelReservationDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>

      <div class="row">
        <div class="col-4">
          col5
        </div>
        <div class="col-8">
          col7
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="myForm.invalid" mat-raised-button color="primary">Hủy đặt phòng</button>
    </mat-card-actions>
  </mat-card>
</form>
