<section class="mat-typography">
  <div class="row">
    <div class="col-md-8 mb-4">
      <mat-card class="mat-elevation-z2" *ngIf="roomData != undefined">
        <mat-card-header>
          <mat-card-title>
            <h1 class="mat-headline">{{roomData.name}}</h1>
          </mat-card-title>
          <mat-card-subtitle>
            <strong>4.78</strong> (23) · <span class="material-icons align-bottom">location_on</span> {{roomData.address}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-grid-list cols="3" rowHeight="100px">
            <mat-grid-tile rowspan="2">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                   alt="Photo of a Shiba Inu" class="img-fluid h-100">
            </mat-grid-tile>
            <mat-grid-tile>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                   alt="Photo of a Shiba Inu" class="img-fluid h-100">
            </mat-grid-tile>
            <mat-grid-tile>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                   alt="Photo of a Shiba Inu" class="img-fluid h-100">
            </mat-grid-tile>
            <mat-grid-tile>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                   alt="Photo of a Shiba Inu" class="img-fluid h-100">
            </mat-grid-tile>
            <mat-grid-tile>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                   alt="Photo of a Shiba Inu" class="img-fluid h-100">
            </mat-grid-tile>
          </mat-grid-list>
          <p>{{roomData.propertyType.name}} · {{roomData.totalOfBathroom}} Phòng tắm · {{roomData.totalOfBedroom}} phòng
            ngủ</p>
          <div>
            {{roomData.description}}
          </div>
          <div>
            <h2>Tiện nghi chỗ ở</h2>
            <p>Giới thiệu về các tiện nghi và dịch vụ tại nơi lưu trú</p>
            <h3>Tiện ích</h3>
            <table class="table table-borderless">
              <tr>
                <td><span class="material-icons align-bottom">wifi</span> Wifi</td>
                <td><span class="material-icons align-bottom">tv</span> TV</td>
                <td><span class="material-icons align-bottom">ac_unit</span> Điều hoà</td>
              </tr>
              <tr>
                <td><span class="material-icons align-bottom">pool</span> Bể bơi</td>
                <td><span class="material-icons align-bottom">hot_tub</span> Bồn nước nóng</td>
                <td><span class="material-icons align-bottom">soap</span> Xà phòng tắm</td>
              </tr>
              <tr>
                <td><span class="material-icons align-bottom">iron</span> Bàn là</td>
              </tr>
            </table>
          </div>
          <div>
            <h3>Tiện ích khác</h3>
            <table class="table table-borderless">
              <tr>
                <td><span class="material-icons align-bottom">microwave</span> Lò vi sóng</td>
                <td><span class="material-icons align-bottom">kitchen</span> Tủ lạnh</td>
                <td><span class="material-icons align-bottom">balcony</span> Ban Công</td>
              </tr>
            </table>
          </div>
          <div>
            <h2>Thời gian nhận phòng</h2>
            <ul class="list-unstyled">
              <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">Nhận phòng <strong>02:00 pm - 11:00 pm</strong>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">Trả phòng <strong>11:00 am</strong></li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="mb-4"><strong class="mat-display-1">{{roomData.pricePerNight | currency:'VND'}}</strong> /đêm
          </div>
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <mat-form-field appearance="outline" class="col-6">
                <mat-label>Nhận phòng</mat-label>
                <input matInput [matDatepickerFilter]="myFilterStart" [matDatepicker]="picker1"
                       formControlName="startDate" (dateChange)="onChangeStartDate()">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6">
                <mat-label>Trả phòng</mat-label>
                <input matInput [matDatepickerFilter]="myFilterEnd" [matDatepicker]="picker2" formControlName="endDate"
                       (dateChange)="calculate()">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Khách
                  </mat-panel-title>
                  <mat-panel-description>
                    {{(guestCount)}} khách
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="d-flex align-items-center mb-2">
                  <strong class="flex-grow-1">Người lớn</strong>
                  <div class="justify-content-end">
                    <button type="button" mat-mini-fab aria-label="Example icon button with a home icon"
                            [disabled]="numberOfGuests.value == 1" (click)="decrement(numberOfGuests)">
                      <span class="material-icons">remove</span>
                    </button>
                    <span class="mx-2">{{numberOfGuests.value}}</span>
                    <button type="button" mat-mini-fab aria-label="Example icon button with a home icon"
                            [disabled]="guestCount == 4" (click)="increment(numberOfGuests)">
                      <span class="material-icons">add</span>
                    </button>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <strong class="flex-grow-1">Trẻ em</strong>
                  <div class="justify-content-end">
                    <button type="button" mat-mini-fab aria-label="Example icon button with a home icon"
                            [disabled]="numberOfChildren.value == 0" (click)="decrement(numberOfChildren)">
                      <span class="material-icons">remove</span>
                    </button>
                    <span class="mx-2">{{numberOfChildren.value}}</span>
                    <button type="button" mat-mini-fab aria-label="Example icon button with a home icon"
                            [disabled]="guestCount == 4" (click)="increment(numberOfChildren)">
                      <span class="material-icons">add</span>
                    </button>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <strong class="flex-grow-1">Em bé</strong>
                  <div class="justify-content-end">
                    <button type="button" mat-mini-fab aria-label="Example icon button with a home icon"
                            [disabled]="numberOfInfants.value == 0" (click)="decrement(numberOfInfants)">
                      <span class="material-icons">remove</span>
                    </button>
                    <span class="mx-2">{{numberOfInfants.value}}</span>
                    <button type="button" mat-mini-fab aria-label="Example icon button with a home icon"
                            (click)="increment(numberOfInfants)">
                      <span class="material-icons">add</span>
                    </button>
                  </div>
                </div>
                <p>Tối đa 4 khách. Không tính em bé vào số lượng khách.</p>
              </mat-expansion-panel>
            </mat-accordion>
            <mat-action-row>
              <button mat-raised-button color="accent" type="submit" [disabled]="!myForm.valid">Đặt ngay</button>
            </mat-action-row>
          </form>
          <ul class="list-group list-group-flush" *ngIf="total">
            <li class="list-group-item d-flex justify-content-between">Giá thuê {{totalNights}} đêm
              <span>{{total | currency: 'VND'}}</span></li>
            <li class="list-group-item d-flex justify-content-between">Phí dịch vụ
              <span>0₫</span></li>
            <li class="list-group-item d-flex justify-content-between font-weight-bold">Tổng tiền
              <span>{{total | currency: 'VND'}}</span></li>
          </ul>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</section>
