.mat-card{
  max-width: 300px;
}

.mat-card-avatar{

  background-size: cover;
}
.mat-card-action{
  display: flex;
}

.mat-card-action.flex-spacer{
  width: 100%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
