<h1 mat-dialog-title>Hi {{data.title}}</h1>
<div mat-dialog-content>

  <mat-form-field>
    <mat-label>Họ tên</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ngày sinh</mat-label>
    <input matInput type="date" [(ngModel)]="data.birthDay">
  </mat-form-field>
  <mat-form-field>
    <mat-label>email</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>phone</mat-label>
    <input matInput [(ngModel)]="data.phone">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Sửa thông tin</button>
</div>
