<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Airbnb</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll">
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-post" routerLinkActive="active">Host</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/booking-detail/1" routerLinkActive="active">Detail Booking</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="account">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">{{account.username}}</a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <button type="button" mat-raised-button color="accent" class="nav-link" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
<div class="container py-5">
  <router-outlet></router-outlet>
</div>
