<mat-card class="size">
  <mat-card-content>
    <form class="example-form">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Search Places
          <mat-icon>search</mat-icon>
        </mat-label>

        <!-- #docregion input -->
        <input type="text"
               (keydown.enter)="search2()"
               [(ngModel)]="add"
               placeholder="where do you want to go ?"
               aria-label="Places"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto"

        >

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option (click)="search(option.id)" *ngFor="let option of places" [value]="option.name">
            {{option.name}}-{{option.country.name}}
            <mat-icon>add_location</mat-icon>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <button mat-raised-button color="accent" type="button" (click)="search2()">Tìm KIếm</button>
    <a routerLink="/" style="font-size: large ; font-weight: bold;color: #005cbf "
       (click)="getAllHome()">{{back}}</a><br>
    <br>
    <br>
    <mat-grid-list cols="3" rowHeight="0.70:1" *ngIf="roomLength > 0  else nodata">
      <mat-grid-tile class="col-sm-12 col-md-6 col-lg-4" *ngFor="let r of rooms | async">
        <mat-card class="border myFormat">
          <a routerLink="/rooms/{{r.id}}">
            <img mat-card-image src="{{r.roomImages[0] && r.roomImages[0].imageUrl}}">
          </a>
          <mat-card-title><a class="fontName" routerLink="/rooms/1">{{r.name}}</a></mat-card-title>
          <mat-card-subtitle class="myFont">{{r.address}}</mat-card-subtitle>
          <mat-card-content class="myFont">{{r.description}}</mat-card-content>
          <mat-card-subtitle>
            <p>Đánh giá: <span *ngIf="r.avgRatting != null" style="color: #005cbf">{{r.avgRatting}}/5 <span
              class="material-icons pb-1" style="color: yellow ;font-weight: bold">grade</span></span>
              <span style="color: blue" *ngIf="r.avgRatting == null">Chưa có đánh giá</span></p>
          </mat-card-subtitle>
          <a routerLink="/rooms/{{r.id}}" color="primary" mat-button class="float-right">
            Đặt Ngay
          </a>
          <mat-card-actions class="clearfix">
            <div class="float-left"><strong>{{r.pricePerNight | currency:'VND'}}</strong>/đêm</div>

          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator [pageSizeOptions]="[6, 9 , 12]" showFirstLastButtons></mat-paginator>
    <br>
    <ng-template #nodata>
      Chưa có dữ liệu.
    </ng-template>
  </mat-card-content>
</mat-card>

