.mat-card-avatar {
  background-size: cover;
}

.mat-card-action {
  display: flex;
}

.mat-card-action.flex-spacer {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-card {
  max-width: 300px;
}

.size {
  max-width: 1080px;
}

a {
  color: #1b1e21;
}

.myFont {
  display: -webkit-box;
  max-height: 3.2rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  line-height: 1.6rem
}

.fontName {
  display: -webkit-box;
  max-height: 3.2rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 1;
  line-height: 1.6rem
}
.myFormat {
  height: 450px;
}
img{
  height: 215px;
}
.material-icons {
  vertical-align: middle;
}
