<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Bootstrap
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
            [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item" *ngIf="auth.checkAuthenticated()">
          <a routerLink="external-api" class="nav-link">External API</a>
        </li>
      </ul>
      <ul class="navbar-nav d-none d-md-block">
        <!-- Login button: show if NOT authenticated -->
        <li class="nav-item" *ngIf="auth.checkAuthenticated() === false">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item dropdown" *ngIf="auth.user$ | async as user" ngbDropdown>
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="profileDropDown" data-toggle="dropdown">
            <img [src]="user.name" alt="Profile picture" class="nav-user-profile rounded-circle" style="width: 75px;"/>
          </a>
          <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu>
            <!-- Show the user's full name from the id token here -->
            <div class="dropdown-header">
              {{ user.name }}
            </div>
            <a routerLink="/profile" class="dropdown-item dropdown-profile">
              Profile
            </a>
            <button (click)="logout()" class="btn btn-link dropdown-item">
              Log out
            </button>
          </div>
        </li>
        <!-- /Fullsize dropdown -->
      </ul>

      <!-- Responsive login button: show if NOT authenticated -->
      <ul class="navbar-nav d-md-none" *ngIf="(auth.isAuthenticated$ | async) === false">
        <button class="btn btn-primary btn-block" (click)="login()">
          Log in
        </button>
      </ul>
      <ul class="navbar-nav d-md-none justify-content-between" *ngIf="auth.user$ | async as user" style="min-height: 170px;">
        <li class="nav-item">
            <span class="user-info">
              <img alt="Profile picture" class="nav-user-profile d-inline-block rounded-circle mr-3" style="width: 75px;" [src]="user.name" />
              <h6 class="d-inline-block">{{ user.name }}</h6>
            </span>
        </li>
        <li>
          <a routerLink="/profile">Profile</a>
        </li>
        <li>
          <button class="btn btn-link p-0" (click)="logout()">
            Log out
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
