p {
 margin-bottom: 0;
}

/*mat-card {*/
/*  border: none;*/
/*}*/

/*.example-header-image {*/
/*  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
/*  background-size: cover;*/
/*}*/

.card {
  border: none;
}

.card-body * {
  padding: 2px;
}
