p {
  margin-bottom: 0;
}

.card {
  border: none;
}

.card-body * {
  padding: 2px;
}

a {
  text-decoration: none;
  color: black;
}

.card-img-top{
  min-height: 150px;
  max-height: 150px;
}

.material-icons {
  vertical-align: middle;
}

.pageNum {
  padding-top: 10px;
}
