p {
  margin-bottom: 0;
}

.card {
  border: none;
}

.card-body * {
  padding: 2px;
}

a {
  text-decoration: none;
  color: black;
}

/*#detailRoomHidden {*/
/*  display: none;*/
/*}*/

/*#roomDetail:hover + #detailRoomHidden {*/
/*  display: block;*/
/*}*/

.card-img-top{
  min-height: 150px;
  max-height: 150px;
}
