
<div id="carouselExampleControls" class="carousel slide mb-4" data-ride="carousel"
     style="width: 100%; height: 350px; text-align:center;margin:0; padding:0;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="max-height: 350px"
           src="{{imagesRoom[0].imageUrl}}"
           class="d-block w-100" alt="...">
    </div>
<!--    <div *ngFor="let img of imagesRoom" class="carousel-item">-->
<!--      <img [src]=img.imageUrl class="d-block w-100" alt="..." style="max-height: 350px">-->
<!--    </div>-->
    <ng-container *ngFor="let item of imagesRoom; let first = first let i=index; let odd=odd" [class.odd]="odd">
      <div class="carousel-item" *ngIf="!first">
        <img src="{{ item.imageUrl }}" style="max-height: 350px" class="d-block w-100" alt="...">
      </div>
    </ng-container>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row">
  <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12  text-center">
    <img src="https://www.w3schools.com/howto/img_avatar.png" height="100" width="100" class="rounded-circle"
         alt="avatar">
    <br>
        <button class="mt-3" mat-raised-button color="primary">Sửa thông tin</button>
  </div>
  <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
    <div>
      <h2 class="mb-0">{{user.name}}</h2>
      <small>Tham gia vào {{user.createdDate | date: 'dd/MM/yyyy'}}</small>
      <p><span class="material-icons">email</span>: {{user.email}}</p>
      <p><span class="material-icons">call</span>: {{user.phone}}</p>
    </div>
    <hr>
    <mat-tab-group mat-align-tabs="start">
      <mat-tab *ngIf="roomsOfHost.length != 0" label="Nhà của bạn">
        <div class="row col-12 co p-0 m-0">
          <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 m-0 p-2" *ngFor="let room of roomsOfHost">
            <a [routerLink]="['/rooms', room.id]">
              <img class="card-img-top p-0"
                   [src]=room.roomImages[0].imageUrl
                   alt="house">
            </a>
            <div class="card-body p-0">
              <h2 class="card-title m-0"><a [routerLink]="['/rooms', room.id]">{{room.name}}</a></h2>
              <p>{{room.totalOfBedroom}} Phòng ngủ - {{room.totalOfBathroom}} Phòng tắm</p>
              <p><strong>{{room.pricePerNight | currency: "VND": "symbol":'1.0-0'}}/đêm</strong></p>
              <p class="card-title">{{room.address}} - {{room.province.name}} - {{room.province.country.name}}</p>

              <div class="m-0">
                <button [disabled]="room.status" (click)="changeStatus(room.id)" mat-raised-button color="primary"
                        class="float-left pl-1 pr-1">
                  Còn trống <span class="material-icons">lock_open</span>
                </button>
                <button [disabled]="!room.status" (click)="changeStatus(room.id)" mat-raised-button
                        class="float-right pl-1 pr-1">
                  Hết phòng <span class="material-icons p-0 m-0">error_outline</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab *ngIf="bookings.length != 0" label="Bookings">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Địa điểm thuê</th>
            <th scope="col">Ngày checkin</th>
            <th scope="col">Ngày checkout</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Giá tiền</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let booking of bookings">
            <th>{{booking.id}}</th>
            <td><p id="roomDetail">{{booking.room.name}}</p></td>
            <td>{{booking.startDate}}</td>
            <td>{{booking.endDate}}</td>
            <td>{{booking.status}}</td>
            <td>{{booking.room.pricePerNight * booking.numNight | currency:"VND"}}</td>
            <td>
              <a mat-raised-button [routerLink]="['/booking-detail', booking.id]">Chi tiết</a>
            </td>
          </tr>
          </tbody>
        </table>
      </mat-tab>

      <mat-tab *ngIf="roomsOfHost.length != 0" label="Booking của khách">
        <app-booking-list></app-booking-list>
      </mat-tab>
    </mat-tab-group>

    <hr>
  </div>
</div>
