<mat-card class="size">
<h1>Thông tin cơ bản: Chỉnh sửa<button  (click)="openDialog(titleChangeName)" mat-raised-button color="warn"><span class="material-icons">
mode_edit
</span></button></h1>
  <h2>Tên Đăng Nhập: {{user.username}}</h2><br>
  <hr>
  <h2>Mật Khẩu:  <a style="text-align: center" mat-raised-button color="primary" routerLink="/password">Đổi Mật Khẩu</a> </h2><br>
  <hr>
  <h2>Họ và Tên: {{user.name}} </h2><br>
  <hr>
  <h2>Ngày sinh: {{user.dateOfBirth | date:'dd-m-yyyy'}}</h2><br>
  <hr>
  <h2>email: {{user.email}}</h2><br>
  <hr>
  <h2>số điện thoại: {{user.phone}}</h2><br>
  <hr>
  <h2>giới tính: {{gender}}</h2><br>
  <hr>
  <h2>Ngày mở tài khoản: {{user.createdDate  | date:'dd-mm-yyyy hh:mm'}}</h2><br>
  <hr>

  <h2>Ngày cập nhập: {{user.modifiedDate| date:'dd-mm-yyyy hh:mm'}}</h2><br>
  <hr>
  <hr>



</mat-card>
