<div class="row">
  <div class="col-md-8">
    <form [formGroup]="myGroup" enctype="multipart/form-data" novalidate (ngSubmit)="onSubmit()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Upload Image
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row form-group">
            <mat-form-field appearance="outline" class="col-12">
              <mat-label>City</mat-label>
              <input matInput placeholder="City" formControlName="city">
              <mat-error *ngIf="myGroup.controls['city'].hasError('required')">
                City is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col-12">
              <label>Ảnh chỗ nghỉ
                <button mat-raised-button color="accent" (click)="uploadImage.click()"><span class="material-icons">upload_file</span> Chọn ảnh tải lên</button>
              </label>
              <input #uploadImage class="d-none" formControlName="images" accept="image/*" type="file" multiple
                     (change)="showPreview($event)">
            </div>
            <div class="col-12">
              <mat-hint>Một vài tấm ảnh đẹp sẽ giúp khách hàng có nhiều thiện cảm hơn về chỗ nghỉ của bạn.</mat-hint>
            </div>
          </div>
          <!-- show list images -->
          <div class="row row-cols-2 row-cols-md-4">
            <div *ngFor="let img of imageSrc; index as idx" class="col mb-4 position-relative">
              <div class="position-absolute">
                <button (click)="openConfirmDialog(idx)" mat-raised-button color="warn"><span class="material-icons">delete</span></button>
              </div>
              <img [src]="img" class="rounded img-fluid">
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="col">
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <button mat-raised-button>Cancel</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  <div class="col-md-4">
    <ul>
      <li>Ảnh có kích thước không quá 1MB.</li>
      <li>Nếu kích cỡ ảnh của bạn quá lớn thì có thể giảm dung lượng tại đây.</li>
    </ul>
  </div>
</div>
