<form [formGroup]="myGroup" enctype="multipart/form-data" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Upload Image
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field appearance="outline">
          <input matInput placeholder="City" formControlName="city">
          <mat-error *ngIf="myGroup.controls['city'].hasError('required')">
            City is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <label>Image</label>
        <input formControlName="images" accept="image/*" type="file" multiple (change)="showPreview($event)">
        <div *ngIf="images.invalid && (images.dirty || images.touched)">
          <mat-error *ngIf="images.errors.required">
            Image is <strong>required</strong>.
          </mat-error>
        <div>{{ uploadPercent | async }}</div>
        <div *ngFor="let img of imageSrc">
          <img [src]="img" width="50">
        </div>
        <img [src]="downloadURL | async"/>
        <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="col">
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button>Cancel</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
