<mat-card class="border example-form">
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" novalidate>
    <mat-card-content>
      <h2 class="text-center">Đăng nhập</h2>
      <mat-error *ngIf="loginInvalid">Tên đăng nhập hoặc mật khẩu không chính xác</mat-error>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Tên đăng nhập</mat-label>
        <input matInput placeholder="Tên đăng nhập" type="text" formControlName="username" required>
        <mat-error *ngIf="hasError('username', 'required')">Tên đăng nhập không được trống</mat-error>
        <mat-error *ngIf="hasError('username', 'pattern')">Tên đăng nhập không đúng mẫu</mat-error>
        <mat-error *ngIf="hasError('username', 'minlength')">Tên đăng nhập không ít hơn 3 ký tự</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Mật khẩu</mat-label>
        <input matInput placeholder="Mật khẩu" type="password" formControlName="password" required>
        <mat-error *ngIf="hasError('password', 'required')">Mật khẩu không được trống</mat-error>
        <mat-error *ngIf="hasError('password', 'minlength')">Mật khẩu không ít hơn 6 ký tự</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="text-center">
      <p class="text-center">Nếu bạn chưa có tài khoản: <a routerLink="/register">Đăng ký</a></p>
      <p>
        <button [disabled]="formLogin.invalid" mat-raised-button color="primary" type="submit">Đăng nhập</button>
      </p>
      <p class="text-center">Hoặc đăng nhập với</p>
      <firebase-ui
        (signInSuccessWithAuthResult)="successCallback($event)"
        (signInFailure)="errorCallback($event)"
        (uiShown)="uiShownCallback()"></firebase-ui>
    </mat-card-actions>
  </form>
</mat-card>
<div *ngIf="auth.user | async as user">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
